* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: Inter, sans-serif;
}

html, body, main, #__nuxt{
    width: 100%;
    height: 100%;
}

main {
    background: rgba(237, 237, 246, 1);
    overflow: auto;
}

.btn-form{
    background: rgba(144, 156, 162, 1);
}
